// 🔴font-family
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

// 🔴colors
// MAIN
$w: #FFF;
$b: #000;
$g: #808080;

// TEXT
$blue-txt: #30a8f0;
$red-txt: #ff0202;

// BG
$blue-l-bg: #4fa3b6;
$blue-d-bg: #0e4259;

// TEXT 1 BG
$w-txt-bg: #f4f4f4;
$blue-txt-bg: #096d93;