body {
    font-family: 'Quicksand', sans-serif;
    background-color: $blue-l-bg;
}

// HEADER
header {
    color: $w-txt-bg;
    height: 7.5%;
    background-color: $blue-txt-bg;

    .content_logo_title {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        
            img {
                width: 6.5rem;
            }
            h1 {
                margin: 0 auto;
                font-family: $nosifer;
            }
    }

    nav {
        height: 50px;
        background-color: $blue-d-bg;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 7%;

            li {
                a {
                    width: 9rem;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        font-size: 2rem;
                    }
                }
            }
            li:hover {
                background-color: $blue-txt-bg;
            }
        }
    }
}

// MAIN
main {
    margin: 5vh 5%;

    // previsions_aside
    .content_previsions_aside {
        display: flex;
            
        section {
            .title_previsions {
                margin-bottom: 2rem;
                font-size: 1.8rem;
            }
            .content_article {
                width: 33rem;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;

                article {
                    text-transform: uppercase;
                    text-align: center;
                    width: fit-content;
                    background-color: $w;
                    border-radius: 1rem;
                    padding: 0.7rem 5rem;

                   h2 {
                        display: flex;
                        flex-direction: column;
                    }
                    img {
                        width: 4rem;
                    }
                    p {
                        font-size: 1.3rem;
                        font-weight: 700;
            
                        .higher_temperature {
                            color: $red-txt;
                        }
                        .lower_temperature {
                            color: $blue-txt;
                        }
                        .degree_celsius:after {
                            content: "°";
                            margin-left: 2px;
                        } 
                    }
                }
           }
        }
        aside {
            text-transform: uppercase;
            width: 20rem;
            background-color: $w-txt-bg;
            border-radius: 1rem;
            box-shadow: $shadow;
            padding: 2.5rem 0.8rem;

            ul {
                li {
                    margin-bottom: 1rem;
                    width: 100%;
                    border-radius: 0.5rem;
                    padding: 0.2rem 0.5rem;
                    display: flex;
                    align-items: center;

                    a {
                        font-weight: 700;
                        font-size: 1.3rem;
                    }
                    img {
                        margin-right: 1rem;
                        width: 1rem;
                    }
                }
                li:hover {
                    background-color: $blue-l-bg;
                }
            }
        }
    }
    .content_img_abonnement {
        margin-top: 10vh;
        display: flex;
        justify-content: space-between;

        div {
            width: 80rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem 1.5rem;

            img {
                width: 12rem;
                box-shadow: $shadow;
            }
        }

        form {
            color: $blue-txt;
            background-color: $w-txt-bg;
            border-radius: 1rem;
            box-shadow: $shadow;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            h2 {
                text-align: center;
                text-transform: uppercase;
                font-size: 1.4rem;
            }

            %input {
                width: 100%;
                border: none;
                border-radius: 0.5rem;
                box-shadow: $shadow;
                padding: 0.5rem;
            }

            .email {
                background-color: $w;
            }
        }
    }
}

// FOOTER

// MODE DESTOPE
// @media screen and () {
    
// }